body {
    background: linear-gradient(rgba(255, 255, 255, 0.322)), url("../img/Mbk7Lv34i4r42qYYbmRa53.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100vh; // vh fait prendre toute la hauteur de la vue de l'écran
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100px 1fr 35px;
    /* 1fr = la fraction restante */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background: linear-gradient(to bottom, rgb(255, 160, 18), rgba(255, 160, 18, 0));
    grid-area: 1/1/2/3;
    padding-top: 10px;
    /*Empecher le header de bouger*/
    width: 100%;
    img {
        height: 65px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

// 3 boutons
nav {
    display: grid;
    grid-area: 2/1/3/2;
    padding: 10px;
    margin-left: 20px;
    .marques,
    .exo,
    .gear {
        font-size: 45px;
        height: 16vh;
        text-align: start;
        text-shadow: 0px 0px 3px black;
        padding-left: 10px;
    }
    .marques {
        background: linear-gradient(to right,
                rgba(255, 166, 0, 0),
                rgba(255, 166, 0, 0)), url("../img/the-d2-brandsjpeg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 4px solid rgb(255, 166, 0);
        transition: 0.1s;
        color: rgb(255, 166, 0);
        &:hover {
            cursor: pointer;
            background: linear-gradient(to right,
                    rgba(255, 166, 0, 0.671),
                    rgba(255, 166, 0, 0)), url("../img/the-d2-brandsjpeg.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    .exo {
        background: linear-gradient(to right,
                rgba(255, 38, 0, 0),
                rgba(255, 38, 0, 0)), url("../img/Merciless-Exotic.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 4px solid rgb(255, 38, 0);
        transition: 0.1s;
        color: rgb(255, 38, 0);
        &:hover {
            cursor: pointer;
            background: linear-gradient(to right,
                    rgba(255, 38, 0, 0.671),
                    rgba(255, 38, 0, 0)), url("../img/Merciless-Exotic.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    .gear {
        background: linear-gradient(to right,
                rgba(0, 255, 136, 0),
                rgba(0, 255, 136, 0)), url("../img/the-div-2-gears.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 4px solid rgb(0, 255, 136);
        transition: 0.1s;
        color: rgb(0, 255, 136);
        &:hover {
            cursor: pointer;
            background: linear-gradient(to right,
                    rgba(0, 255, 136, 0.671),
                    rgba(0, 255, 136, 0)), url("../img/the-div-2-gears.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}

// tabs
.brandlist {
    display: none;
    grid-area: 2/2/3/3;
    padding: 10px;
    margin-right: 20px;
    overflow: auto;
    table {
        width: 600px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(63, 63, 63);
        padding: 3px;
        th {
            background-color: rgb(255, 166, 0);
            color: rgb(63, 63, 63);
            font-size: 20px;
            padding: 5px;
        }
        td {
            color: white;
            padding: 7px;
            padding-left: 15px;
            &:hover {
                color: rgb(255, 166, 0);
                cursor: pointer;
                background-color: rgb(92, 92, 92);
            }
        }
    }
}

.exolist {
    display: none;
    grid-area: 2/2/3/3;
    padding: 10px;
    margin-right: 20px;
    table {
        width: 600px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(63, 63, 63);
        padding: 3px;
        th {
            background-color: rgb(255, 38, 0);
            color: rgb(63, 63, 63);
            font-size: 20px;
            padding: 5px;
        }
        td {
            color: white;
            padding: 7px;
            padding-left: 15px;
            &:hover {
                color: rgb(255, 38, 0);
                cursor: pointer;
                background-color: rgb(92, 92, 92);
            }
        }
    }
}

.gearlist {
    display: none;
    grid-area: 2/2/3/3;
    padding: 10px;
    margin-right: 20px;
    table {
        width: 600px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(63, 63, 63);
        padding: 3px;
        th {
            background-color: rgb(0, 255, 136);
            color: rgb(63, 63, 63);
            font-size: 20px;
            padding: 5px;
        }
        td {
            color: white;
            padding: 7px;
            padding-left: 15px;
            &:hover {
                color: rgb(0, 255, 136);
                cursor: pointer;
                background-color: rgb(92, 92, 92);
            }
        }
    }
}

// Marques
.tacticaltab, 
.airalditab, 
.summittab, 
.badgertab, 
.ceskatab,
.chinatab,
.douglastab,
.fenristab,
.gilatab,
.golantab,
.murakamitab,
.overlordtab,
.petrovtab,
.providencetab,
.richtertab,
.sokolovtab,
.wyverntab,
.yaahltab {
    display: none;
    grid-area: 2/2/3/3;
    padding: 10px;
    margin-right: 20px;
    overflow: auto;
    table {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(63, 63, 63);
        padding: 5px;
        thead {
            color: rgb(255, 166, 0);
            font-size: 35px;
            th {
                padding: 10px;
            }
        }
        tbody {
            color: white;
            background-color: rgb(255, 166, 0);
            td {
                padding: 10px;
                &:hover{
                    background-color: rgb(255, 189, 67);
                }
            }
            span {
                color: rgb(1, 163, 1);
            }
        }
        tfoot {
            text-align: center;
            color: white;
            td {
                padding: 10px;
            }
            span {
                color: rgb(255, 166, 0);
                font-weight: bold;
            }
        }
    }
}
.chinatab{
    //display: block;
}

// Exotiques
.bonnenuit, 
.fluxcontinu, 
.impitoyable, 
.inflexible, 
.liberte, 
.nemesis,
.pestilence {
    display: none;
    grid-area: 2/2/3/3;
    padding: 10px;
    margin-right: 20px;
    overflow: auto;
    table {
        width: 6000px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(63, 63, 63);
        padding: 10px;
        thead {
            color: rgb(255, 38, 0);
            font-size: 35px;
            th {
                padding-bottom: 10px;
            }
        }
        tbody {
            color: white;
            background-color: rgb(255, 38, 0);
            td {
                padding: 10px;
                &:hover{
                    background-color: rgb(255, 89, 59);
                }
            }
            h3 {
                color: rgb(63, 63, 63);
                text-align: center;
                margin: 0px;
                padding-bottom: 5px;
            }
            p {
                margin: 0px;
                padding: 0px;
                font-size: 0.9em;
                text-align: justify;
            }
        }
        tfoot {
            color: white;
            strong {
                color: rgb(255, 38, 0);
            }
            h3 {
                text-align: center;
                margin: 5px;
            }
            td {
                text-align: left;
                padding-left: 20px;
                padding-right: 20px;
            }
            span {
                color: rgb(1, 163, 1);
                font-weight: bold;
            }
        }
    }
}
.pestilence{
    //display: block;
}

// Gearsets
.hardwired, 
.patriot, 
.ongoing,
.aces,
.nego,
.spear{
    display: none;
    grid-area: 2/2/3/3;
    padding: 10px;
    margin-right: 20px;
    overflow: auto;
    table {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(63, 63, 63);
        padding: 10px;
        thead {
            color: rgb(0, 255, 136);
            font-size: 35px;
            th {
                padding-bottom: 10px;
            }
        }
        tbody {
            color: rgb(63, 63, 63);
            background-color: rgb(0, 255, 136);
            td {
                padding: 10px;
                &:hover{
                    background-color: rgb(113, 255, 189);
                }
            }
            h3 {
                color: rgb(63, 63, 63);
                text-align: center;
                margin: 0px;
                padding-bottom: 5px;
                strong{
                    color: rgb(255, 166, 0);
                    text-shadow:-1px -1px 0 rgb(63, 63, 63),  
                                1px -1px 0 rgb(63, 63, 63),
                                -1px 1px 0 rgb(63, 63, 63),
                                1px 1px 0 rgb(63, 63, 63);
                }
            }
            p {
                margin: 0px;
                padding: 0px;
                font-size: 0.9em;
            }
            #twop{
                text-align: justify;
            }
        }
    }
}
.aces{
    //display: block;
}


@media all and (max-width: 480px) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: 90px 30px 1fr;
        background: linear-gradient(rgba(255, 255, 255, 0.322)), url("../img/Mbk7Lv34i4r42qYYbmRa53.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }

    header {
        background: linear-gradient(to bottom, rgb(255, 160, 18), rgba(255, 160, 18, 0));
        position: fixed;
        img {
            height: 55px;
        }
    }

    nav {
        display: grid;
        padding: 0px;
        padding-top: 0px;
        height: 25px;
        width: 320px;
        justify-content: space-between;
        .marques,
        .exo,
        .gear {
            font-size: 0px;
            width: 75px;
            height: 20px;
            border: 0px;
            box-shadow: 0px 0px 3px black;
        }
        .marques {
            grid-area: 1/1/2/2;
            background: rgb(255, 166, 0);
            &:hover {
                background: rgb(255, 166, 0);
            }
        }
        .exo {
            grid-area: 1/2/2/3;
            background: rgb(255, 38, 0);
            &:hover {
                background: rgb(255, 38, 0);
            }
        }
        .gear {
            grid-area: 1/3/2/4;
            background: rgb(0, 255, 136);
            &:hover {
                background: rgb(0, 255, 136);
            }
        }
    }

    .brandlist,
    .exolist,
    .gearlist {
        grid-area: 3/1/4/2;
        table {
            width: 320px;
            height: auto;
            margin: 10px;
            padding: 0px;
            td {
                font-size: 15px;
            }
        }
    }

    // marques tabs
    .tacticaltab,
    .airalditab,
    .summittab,
    .badgertab,
    .ceskatab,
    .chinatab,
    .douglastab,
    .fenristab,
    .gilatab,
    .golantab,
    .murakamitab,
    .overlordtab,
    .petrovtab,
    .providencetab,
    .richtertab,
    .sokolovtab,
    .wyverntab,
    .yaahltab {
        grid-area: 3/1/4/2;
        table {
            width: 320px;
            height: auto;
            margin: 10px;
            padding: 0px;
        }
    }
    // exo tabs
    .bonnenuit,
    .fluxcontinu,
    .impitoyable {
        grid-area: 3/1/4/2;
        table {
            width: 320px;
            height: auto;
            margin: 10px;
            padding: 0px;
            th{
                font-size: 30px;
            }
        }
    }
}