@charset "UTF-8";
body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.322))), url("../img/Mbk7Lv34i4r42qYYbmRa53.jpg");
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.322)), url("../img/Mbk7Lv34i4r42qYYbmRa53.jpg");
  background: -o-linear-gradient(rgba(255, 255, 255, 0.322)), url("../img/Mbk7Lv34i4r42qYYbmRa53.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.322)), url("../img/Mbk7Lv34i4r42qYYbmRa53.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin: 0;
  width: 100%;
  height: 100vh;
  /* vh fait prendre toute la hauteur de la vue de l'écran */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
  -ms-grid-rows: 100px 1fr 35px;
      grid-template-rows: 100px 1fr 35px;
  /* 1fr = la fraction restante */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa012), to(rgba(255, 160, 18, 0)));
  background: -webkit-linear-gradient(top, #ffa012, rgba(255, 160, 18, 0));
  background: -o-linear-gradient(top, #ffa012, rgba(255, 160, 18, 0));
  background: linear-gradient(to bottom, #ffa012, rgba(255, 160, 18, 0));
  /*background-color: #e9691e;*/
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
  padding-top: 15px;
  position: fixed;
  /*Empecher le header de bouger*/
  width: 100%;
}

header img {
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
  padding: 10px;
  margin-left: 20px;
}

nav .marques,
nav .exo,
nav .gear {
  font-size: 45px;
  height: 16vh;
  text-align: start;
  text-shadow: 0px 0px 3px black;
  padding-left: 10px;
}

nav .marques {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 166, 0, 0)), to(rgba(255, 166, 0, 0))), url("../img/the-d2-brandsjpeg.png");
  background: -webkit-linear-gradient(left, rgba(255, 166, 0, 0), rgba(255, 166, 0, 0)), url("../img/the-d2-brandsjpeg.png");
  background: -o-linear-gradient(left, rgba(255, 166, 0, 0), rgba(255, 166, 0, 0)), url("../img/the-d2-brandsjpeg.png");
  background: linear-gradient(to right, rgba(255, 166, 0, 0), rgba(255, 166, 0, 0)), url("../img/the-d2-brandsjpeg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid #ffa600;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  color: #ffa600;
}

nav .marques:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 166, 0, 0.671)), to(rgba(255, 166, 0, 0))), url("../img/the-d2-brandsjpeg.png");
  background: -webkit-linear-gradient(left, rgba(255, 166, 0, 0.671), rgba(255, 166, 0, 0)), url("../img/the-d2-brandsjpeg.png");
  background: -o-linear-gradient(left, rgba(255, 166, 0, 0.671), rgba(255, 166, 0, 0)), url("../img/the-d2-brandsjpeg.png");
  background: linear-gradient(to right, rgba(255, 166, 0, 0.671), rgba(255, 166, 0, 0)), url("../img/the-d2-brandsjpeg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav .exo {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 38, 0, 0)), to(rgba(255, 38, 0, 0))), url("../img/Merciless-Exotic.jpg");
  background: -webkit-linear-gradient(left, rgba(255, 38, 0, 0), rgba(255, 38, 0, 0)), url("../img/Merciless-Exotic.jpg");
  background: -o-linear-gradient(left, rgba(255, 38, 0, 0), rgba(255, 38, 0, 0)), url("../img/Merciless-Exotic.jpg");
  background: linear-gradient(to right, rgba(255, 38, 0, 0), rgba(255, 38, 0, 0)), url("../img/Merciless-Exotic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid #ff2600;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  color: #ff2600;
}

nav .exo:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 38, 0, 0.671)), to(rgba(255, 38, 0, 0))), url("../img/Merciless-Exotic.jpg");
  background: -webkit-linear-gradient(left, rgba(255, 38, 0, 0.671), rgba(255, 38, 0, 0)), url("../img/Merciless-Exotic.jpg");
  background: -o-linear-gradient(left, rgba(255, 38, 0, 0.671), rgba(255, 38, 0, 0)), url("../img/Merciless-Exotic.jpg");
  background: linear-gradient(to right, rgba(255, 38, 0, 0.671), rgba(255, 38, 0, 0)), url("../img/Merciless-Exotic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav .gear {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 255, 136, 0)), to(rgba(0, 255, 136, 0))), url("../img/the-div-2-gears.png");
  background: -webkit-linear-gradient(left, rgba(0, 255, 136, 0), rgba(0, 255, 136, 0)), url("../img/the-div-2-gears.png");
  background: -o-linear-gradient(left, rgba(0, 255, 136, 0), rgba(0, 255, 136, 0)), url("../img/the-div-2-gears.png");
  background: linear-gradient(to right, rgba(0, 255, 136, 0), rgba(0, 255, 136, 0)), url("../img/the-div-2-gears.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid #00ff88;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  color: #00ff88;
}

nav .gear:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 255, 136, 0.671)), to(rgba(0, 255, 136, 0))), url("../img/the-div-2-gears.png");
  background: -webkit-linear-gradient(left, rgba(0, 255, 136, 0.671), rgba(0, 255, 136, 0)), url("../img/the-div-2-gears.png");
  background: -o-linear-gradient(left, rgba(0, 255, 136, 0.671), rgba(0, 255, 136, 0)), url("../img/the-div-2-gears.png");
  background: linear-gradient(to right, rgba(0, 255, 136, 0.671), rgba(0, 255, 136, 0)), url("../img/the-div-2-gears.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.brandlist {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.brandlist table {
  width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 3px;
}

.brandlist table th {
  background-color: #ffa600;
  color: #3f3f3f;
  font-size: 20px;
  padding: 5px;
}

.brandlist table td {
  color: white;
  padding: 7px;
  padding-left: 15px;
}

.brandlist table td:hover {
  color: #ffa600;
  cursor: pointer;
  background-color: #5c5c5c;
}

.exolist {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.exolist table {
  width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 3px;
}

.exolist table th {
  background-color: #ff2600;
  color: #3f3f3f;
  font-size: 20px;
  padding: 5px;
}

.exolist table td {
  color: white;
  padding: 7px;
  padding-left: 15px;
}

.exolist table td:hover {
  color: #ff2600;
  cursor: pointer;
  background-color: #5c5c5c;
}

.gearlist {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.gearlist table {
  width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 3px;
}

.gearlist table th {
  background-color: #00ff88;
  color: #3f3f3f;
  font-size: 20px;
  padding: 5px;
}

.gearlist table td {
  color: white;
  padding: 7px;
  padding-left: 15px;
}

.gearlist table td:hover {
  color: #00ff88;
  cursor: pointer;
  background-color: #5c5c5c;
}

.tacticaltab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.tacticaltab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.tacticaltab table thead {
  color: #ffa600;
  font-size: 35px;
}

.tacticaltab table thead th {
  padding: 10px;
}

.tacticaltab table tbody {
  color: white;
  background-color: #ffa600;
}

.tacticaltab table tbody td {
  padding: 10px;
}

.tacticaltab table tbody span {
  color: #01a301;
}

.tacticaltab table tfoot {
  text-align: center;
  color: white;
}

.tacticaltab table tfoot td {
  padding: 10px;
}

.tacticaltab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.airalditab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.airalditab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.airalditab table thead {
  color: #ffa600;
  font-size: 35px;
}

.airalditab table thead th {
  padding: 10px;
}

.airalditab table tbody {
  color: white;
  background-color: #ffa600;
}

.airalditab table tbody td {
  padding: 10px;
}

.airalditab table tbody span {
  color: #01a301;
}

.airalditab table tfoot {
  text-align: center;
  color: white;
}

.airalditab table tfoot td {
  padding: 10px;
}

.airalditab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.summittab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.summittab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.summittab table thead {
  color: #ffa600;
  font-size: 25px;
}

.summittab table thead th {
  padding: 10px;
}

.summittab table tbody {
  color: white;
  background-color: #ffa600;
}

.summittab table tbody td {
  padding: 10px;
}

.summittab table tbody span {
  color: #01a301;
}

.summittab table tfoot {
  text-align: center;
  color: white;
}

.summittab table tfoot td {
  padding: 10px;
}

.summittab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.badgertab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.badgertab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.badgertab table thead {
  color: #ffa600;
  font-size: 35px;
}

.badgertab table thead th {
  padding: 10px;
}

.badgertab table tbody {
  color: white;
  background-color: #ffa600;
}

.badgertab table tbody td {
  padding: 10px;
}

.badgertab table tbody span {
  color: #01a301;
}

.badgertab table tfoot {
  text-align: center;
  color: white;
}

.badgertab table tfoot td {
  padding: 10px;
}

.badgertab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.ceskatab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.ceskatab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.ceskatab table thead {
  color: #ffa600;
  font-size: 35px;
}

.ceskatab table thead th {
  padding: 10px;
}

.ceskatab table tbody {
  color: white;
  background-color: #ffa600;
}

.ceskatab table tbody td {
  padding: 10px;
}

.ceskatab table tbody span {
  color: #01a301;
}

.ceskatab table tfoot {
  text-align: center;
  color: white;
}

.ceskatab table tfoot td {
  padding: 10px;
}

.ceskatab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.chinatab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.chinatab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.chinatab table thead {
  color: #ffa600;
  font-size: 25px;
}

.chinatab table thead th {
  padding: 10px;
}

.chinatab table tbody {
  color: white;
  background-color: #ffa600;
}

.chinatab table tbody td {
  padding: 10px;
}

.chinatab table tbody span {
  color: #01a301;
}

.chinatab table tfoot {
  text-align: center;
  color: white;
}

.chinatab table tfoot td {
  padding: 10px;
}

.chinatab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.douglastab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.douglastab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.douglastab table thead {
  color: #ffa600;
  font-size: 30px;
}

.douglastab table thead th {
  padding: 10px;
}

.douglastab table tbody {
  color: white;
  background-color: #ffa600;
}

.douglastab table tbody td {
  padding: 10px;
}

.douglastab table tbody span {
  color: #01a301;
}

.douglastab table tfoot {
  text-align: center;
  color: white;
}

.douglastab table tfoot td {
  padding: 10px;
}

.douglastab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.fenristab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.fenristab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.fenristab table thead {
  color: #ffa600;
  font-size: 35px;
}

.fenristab table thead th {
  padding: 10px;
}

.fenristab table tbody {
  color: white;
  background-color: #ffa600;
}

.fenristab table tbody td {
  padding: 10px;
}

.fenristab table tbody span {
  color: #01a301;
}

.fenristab table tfoot {
  text-align: center;
  color: white;
}

.fenristab table tfoot td {
  padding: 10px;
}

.fenristab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.gilatab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.gilatab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.gilatab table thead {
  color: #ffa600;
  font-size: 35px;
}

.gilatab table thead th {
  padding: 10px;
}

.gilatab table tbody {
  color: white;
  background-color: #ffa600;
}

.gilatab table tbody td {
  padding: 10px;
}

.gilatab table tbody span {
  color: #01a301;
}

.gilatab table tfoot {
  text-align: center;
  color: white;
}

.gilatab table tfoot td {
  padding: 10px;
}

.gilatab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.golantab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.golantab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.golantab table thead {
  color: #ffa600;
  font-size: 35px;
}

.golantab table thead th {
  padding: 10px;
}

.golantab table tbody {
  color: white;
  background-color: #ffa600;
}

.golantab table tbody td {
  padding: 10px;
}

.golantab table tbody span {
  color: #01a301;
}

.golantab table tfoot {
  text-align: center;
  color: white;
}

.golantab table tfoot td {
  padding: 10px;
}

.golantab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.murakamitab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.murakamitab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.murakamitab table thead {
  color: #ffa600;
  font-size: 35px;
}

.murakamitab table thead th {
  padding: 10px;
}

.murakamitab table tbody {
  color: white;
  background-color: #ffa600;
}

.murakamitab table tbody td {
  padding: 10px;
}

.murakamitab table tbody span {
  color: #01a301;
}

.murakamitab table tfoot {
  text-align: center;
  color: white;
}

.murakamitab table tfoot td {
  padding: 10px;
}

.murakamitab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.overlordtab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.overlordtab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.overlordtab table thead {
  color: #ffa600;
  font-size: 30px;
}

.overlordtab table thead th {
  padding: 10px;
}

.overlordtab table tbody {
  color: white;
  background-color: #ffa600;
}

.overlordtab table tbody td {
  padding: 10px;
}

.overlordtab table tbody span {
  color: #01a301;
}

.overlordtab table tfoot {
  text-align: center;
  color: white;
}

.overlordtab table tfoot td {
  padding: 10px;
}

.overlordtab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.petrovtab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.petrovtab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.petrovtab table thead {
  color: #ffa600;
  font-size: 25px;
}

.petrovtab table thead th {
  padding: 10px;
}

.petrovtab table tbody {
  color: white;
  background-color: #ffa600;
}

.petrovtab table tbody td {
  padding: 10px;
}

.petrovtab table tbody span {
  color: #01a301;
}

.petrovtab table tfoot {
  text-align: center;
  color: white;
}

.petrovtab table tfoot td {
  padding: 10px;
}

.petrovtab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.providencetab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.providencetab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.providencetab table thead {
  color: #ffa600;
  font-size: 30px;
}

.providencetab table thead th {
  padding: 10px;
}

.providencetab table tbody {
  color: white;
  background-color: #ffa600;
}

.providencetab table tbody td {
  padding: 10px;
}

.providencetab table tbody span {
  color: #01a301;
}

.providencetab table tfoot {
  text-align: center;
  color: white;
}

.providencetab table tfoot td {
  padding: 10px;
}

.providencetab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.richtertab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.richtertab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.richtertab table thead {
  color: #ffa600;
  font-size: 30px;
}

.richtertab table thead th {
  padding: 10px;
}

.richtertab table tbody {
  color: white;
  background-color: #ffa600;
}

.richtertab table tbody td {
  padding: 10px;
}

.richtertab table tbody span {
  color: #01a301;
}

.richtertab table tfoot {
  text-align: center;
  color: white;
}

.richtertab table tfoot td {
  padding: 10px;
}

.richtertab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.sokolovtab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.sokolovtab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.sokolovtab table thead {
  color: #ffa600;
  font-size: 35px;
}

.sokolovtab table thead th {
  padding: 10px;
}

.sokolovtab table tbody {
  color: white;
  background-color: #ffa600;
}

.sokolovtab table tbody td {
  padding: 10px;
}

.sokolovtab table tbody span {
  color: #01a301;
}

.sokolovtab table tfoot {
  text-align: center;
  color: white;
}

.sokolovtab table tfoot td {
  padding: 10px;
}

.sokolovtab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.wyverntab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.wyverntab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.wyverntab table thead {
  color: #ffa600;
  font-size: 35px;
}

.wyverntab table thead th {
  padding: 10px;
}

.wyverntab table tbody {
  color: white;
  background-color: #ffa600;
}

.wyverntab table tbody td {
  padding: 10px;
}

.wyverntab table tbody span {
  color: #01a301;
}

.wyverntab table tfoot {
  text-align: center;
  color: white;
}

.wyverntab table tfoot td {
  padding: 10px;
}

.wyverntab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.yaahltab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.yaahltab table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.yaahltab table thead {
  color: #ffa600;
  font-size: 35px;
}

.yaahltab table thead th {
  padding: 10px;
}

.yaahltab table tbody {
  color: white;
  background-color: #ffa600;
}

.yaahltab table tbody td {
  padding: 10px;
}

.yaahltab table tbody span {
  color: #01a301;
}

.yaahltab table tfoot {
  text-align: center;
  color: white;
}

.yaahltab table tfoot td {
  padding: 10px;
}

.yaahltab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.bonnenuit {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.bonnenuit table {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 10px;
}

.bonnenuit table thead {
  color: #ff2600;
  font-size: 35px;
}

.bonnenuit table thead th {
  padding-bottom: 10px;
}

.bonnenuit table tbody {
  color: white;
  background-color: #ff2600;
}

.bonnenuit table tbody td {
  padding: 10px;
}

.bonnenuit table tbody h3 {
  text-align: center;
  margin: 0px;
  padding-bottom: 5px;
}

.bonnenuit table tbody p {
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
  text-align: justify;
}

.bonnenuit table tfoot {
  color: white;
}

.bonnenuit table tfoot strong {
  color: #ff2600;
}

.bonnenuit table tfoot h3 {
  text-align: center;
  margin: 5px;
}

.bonnenuit table tfoot td {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.bonnenuit table tfoot span {
  color: #01a301;
  font-weight: bold;
}

.fluxcontinu {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.fluxcontinu table {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 10px;
}

.fluxcontinu table thead {
  color: #ff2600;
  font-size: 35px;
}

.fluxcontinu table thead th {
  padding-bottom: 10px;
}

.fluxcontinu table tbody {
  color: white;
  background-color: #ff2600;
}

.fluxcontinu table tbody td {
  padding: 10px;
}

.fluxcontinu table tbody h3 {
  text-align: center;
  margin: 0px;
  padding-bottom: 5px;
}

.fluxcontinu table tbody p {
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
  text-align: justify;
}

.fluxcontinu table tfoot {
  color: white;
}

.fluxcontinu table tfoot strong {
  color: #ff2600;
}

.fluxcontinu table tfoot h3 {
  text-align: center;
  margin: 5px;
}

.fluxcontinu table tfoot td {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.fluxcontinu table tfoot span {
  color: #01a301;
  font-weight: bold;
}
