body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.322))), url("../img/Mbk7Lv34i4r42qYYbmRa53.jpg");
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.322)), url("../img/Mbk7Lv34i4r42qYYbmRa53.jpg");
  background: -o-linear-gradient(rgba(255, 255, 255, 0.322)), url("../img/Mbk7Lv34i4r42qYYbmRa53.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.322)), url("../img/Mbk7Lv34i4r42qYYbmRa53.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
  -ms-grid-rows: 100px 1fr 35px;
      grid-template-rows: 100px 1fr 35px;
  /* 1fr = la fraction restante */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa012), to(rgba(255, 160, 18, 0)));
  background: -webkit-linear-gradient(top, #ffa012, rgba(255, 160, 18, 0));
  background: -o-linear-gradient(top, #ffa012, rgba(255, 160, 18, 0));
  background: linear-gradient(to bottom, #ffa012, rgba(255, 160, 18, 0));
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
  padding-top: 10px;
  /*Empecher le header de bouger*/
  width: 100%;
}

header img {
  height: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
  padding: 10px;
  margin-left: 20px;
}

nav .marques,
nav .exo,
nav .gear {
  font-size: 45px;
  height: 16vh;
  text-align: start;
  text-shadow: 0px 0px 3px black;
  padding-left: 10px;
}

nav .marques {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 166, 0, 0)), to(rgba(255, 166, 0, 0))), url("../img/the-d2-brandsjpeg.png");
  background: -webkit-linear-gradient(left, rgba(255, 166, 0, 0), rgba(255, 166, 0, 0)), url("../img/the-d2-brandsjpeg.png");
  background: -o-linear-gradient(left, rgba(255, 166, 0, 0), rgba(255, 166, 0, 0)), url("../img/the-d2-brandsjpeg.png");
  background: linear-gradient(to right, rgba(255, 166, 0, 0), rgba(255, 166, 0, 0)), url("../img/the-d2-brandsjpeg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid #ffa600;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  color: #ffa600;
}

nav .marques:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 166, 0, 0.671)), to(rgba(255, 166, 0, 0))), url("../img/the-d2-brandsjpeg.png");
  background: -webkit-linear-gradient(left, rgba(255, 166, 0, 0.671), rgba(255, 166, 0, 0)), url("../img/the-d2-brandsjpeg.png");
  background: -o-linear-gradient(left, rgba(255, 166, 0, 0.671), rgba(255, 166, 0, 0)), url("../img/the-d2-brandsjpeg.png");
  background: linear-gradient(to right, rgba(255, 166, 0, 0.671), rgba(255, 166, 0, 0)), url("../img/the-d2-brandsjpeg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav .exo {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 38, 0, 0)), to(rgba(255, 38, 0, 0))), url("../img/Merciless-Exotic.jpg");
  background: -webkit-linear-gradient(left, rgba(255, 38, 0, 0), rgba(255, 38, 0, 0)), url("../img/Merciless-Exotic.jpg");
  background: -o-linear-gradient(left, rgba(255, 38, 0, 0), rgba(255, 38, 0, 0)), url("../img/Merciless-Exotic.jpg");
  background: linear-gradient(to right, rgba(255, 38, 0, 0), rgba(255, 38, 0, 0)), url("../img/Merciless-Exotic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid #ff2600;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  color: #ff2600;
}

nav .exo:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 38, 0, 0.671)), to(rgba(255, 38, 0, 0))), url("../img/Merciless-Exotic.jpg");
  background: -webkit-linear-gradient(left, rgba(255, 38, 0, 0.671), rgba(255, 38, 0, 0)), url("../img/Merciless-Exotic.jpg");
  background: -o-linear-gradient(left, rgba(255, 38, 0, 0.671), rgba(255, 38, 0, 0)), url("../img/Merciless-Exotic.jpg");
  background: linear-gradient(to right, rgba(255, 38, 0, 0.671), rgba(255, 38, 0, 0)), url("../img/Merciless-Exotic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav .gear {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 255, 136, 0)), to(rgba(0, 255, 136, 0))), url("../img/the-div-2-gears.png");
  background: -webkit-linear-gradient(left, rgba(0, 255, 136, 0), rgba(0, 255, 136, 0)), url("../img/the-div-2-gears.png");
  background: -o-linear-gradient(left, rgba(0, 255, 136, 0), rgba(0, 255, 136, 0)), url("../img/the-div-2-gears.png");
  background: linear-gradient(to right, rgba(0, 255, 136, 0), rgba(0, 255, 136, 0)), url("../img/the-div-2-gears.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 4px solid #00ff88;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  color: #00ff88;
}

nav .gear:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 255, 136, 0.671)), to(rgba(0, 255, 136, 0))), url("../img/the-div-2-gears.png");
  background: -webkit-linear-gradient(left, rgba(0, 255, 136, 0.671), rgba(0, 255, 136, 0)), url("../img/the-div-2-gears.png");
  background: -o-linear-gradient(left, rgba(0, 255, 136, 0.671), rgba(0, 255, 136, 0)), url("../img/the-div-2-gears.png");
  background: linear-gradient(to right, rgba(0, 255, 136, 0.671), rgba(0, 255, 136, 0)), url("../img/the-div-2-gears.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.brandlist {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
  overflow: auto;
}

.brandlist table {
  width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 3px;
}

.brandlist table th {
  background-color: #ffa600;
  color: #3f3f3f;
  font-size: 20px;
  padding: 5px;
}

.brandlist table td {
  color: white;
  padding: 7px;
  padding-left: 15px;
}

.brandlist table td:hover {
  color: #ffa600;
  cursor: pointer;
  background-color: #5c5c5c;
}

.exolist {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.exolist table {
  width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 3px;
}

.exolist table th {
  background-color: #ff2600;
  color: #3f3f3f;
  font-size: 20px;
  padding: 5px;
}

.exolist table td {
  color: white;
  padding: 7px;
  padding-left: 15px;
}

.exolist table td:hover {
  color: #ff2600;
  cursor: pointer;
  background-color: #5c5c5c;
}

.gearlist {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
}

.gearlist table {
  width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 3px;
}

.gearlist table th {
  background-color: #00ff88;
  color: #3f3f3f;
  font-size: 20px;
  padding: 5px;
}

.gearlist table td {
  color: white;
  padding: 7px;
  padding-left: 15px;
}

.gearlist table td:hover {
  color: #00ff88;
  cursor: pointer;
  background-color: #5c5c5c;
}

.tacticaltab,
.airalditab,
.summittab,
.badgertab,
.ceskatab,
.chinatab,
.douglastab,
.fenristab,
.gilatab,
.golantab,
.murakamitab,
.overlordtab,
.petrovtab,
.providencetab,
.richtertab,
.sokolovtab,
.wyverntab,
.yaahltab {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
  overflow: auto;
}

.tacticaltab table,
.airalditab table,
.summittab table,
.badgertab table,
.ceskatab table,
.chinatab table,
.douglastab table,
.fenristab table,
.gilatab table,
.golantab table,
.murakamitab table,
.overlordtab table,
.petrovtab table,
.providencetab table,
.richtertab table,
.sokolovtab table,
.wyverntab table,
.yaahltab table {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 5px;
}

.tacticaltab table thead,
.airalditab table thead,
.summittab table thead,
.badgertab table thead,
.ceskatab table thead,
.chinatab table thead,
.douglastab table thead,
.fenristab table thead,
.gilatab table thead,
.golantab table thead,
.murakamitab table thead,
.overlordtab table thead,
.petrovtab table thead,
.providencetab table thead,
.richtertab table thead,
.sokolovtab table thead,
.wyverntab table thead,
.yaahltab table thead {
  color: #ffa600;
  font-size: 35px;
}

.tacticaltab table thead th,
.airalditab table thead th,
.summittab table thead th,
.badgertab table thead th,
.ceskatab table thead th,
.chinatab table thead th,
.douglastab table thead th,
.fenristab table thead th,
.gilatab table thead th,
.golantab table thead th,
.murakamitab table thead th,
.overlordtab table thead th,
.petrovtab table thead th,
.providencetab table thead th,
.richtertab table thead th,
.sokolovtab table thead th,
.wyverntab table thead th,
.yaahltab table thead th {
  padding: 10px;
}

.tacticaltab table tbody,
.airalditab table tbody,
.summittab table tbody,
.badgertab table tbody,
.ceskatab table tbody,
.chinatab table tbody,
.douglastab table tbody,
.fenristab table tbody,
.gilatab table tbody,
.golantab table tbody,
.murakamitab table tbody,
.overlordtab table tbody,
.petrovtab table tbody,
.providencetab table tbody,
.richtertab table tbody,
.sokolovtab table tbody,
.wyverntab table tbody,
.yaahltab table tbody {
  color: white;
  background-color: #ffa600;
}

.tacticaltab table tbody td,
.airalditab table tbody td,
.summittab table tbody td,
.badgertab table tbody td,
.ceskatab table tbody td,
.chinatab table tbody td,
.douglastab table tbody td,
.fenristab table tbody td,
.gilatab table tbody td,
.golantab table tbody td,
.murakamitab table tbody td,
.overlordtab table tbody td,
.petrovtab table tbody td,
.providencetab table tbody td,
.richtertab table tbody td,
.sokolovtab table tbody td,
.wyverntab table tbody td,
.yaahltab table tbody td {
  padding: 10px;
}

.tacticaltab table tbody td:hover,
.airalditab table tbody td:hover,
.summittab table tbody td:hover,
.badgertab table tbody td:hover,
.ceskatab table tbody td:hover,
.chinatab table tbody td:hover,
.douglastab table tbody td:hover,
.fenristab table tbody td:hover,
.gilatab table tbody td:hover,
.golantab table tbody td:hover,
.murakamitab table tbody td:hover,
.overlordtab table tbody td:hover,
.petrovtab table tbody td:hover,
.providencetab table tbody td:hover,
.richtertab table tbody td:hover,
.sokolovtab table tbody td:hover,
.wyverntab table tbody td:hover,
.yaahltab table tbody td:hover {
  background-color: #ffbd43;
}

.tacticaltab table tbody span,
.airalditab table tbody span,
.summittab table tbody span,
.badgertab table tbody span,
.ceskatab table tbody span,
.chinatab table tbody span,
.douglastab table tbody span,
.fenristab table tbody span,
.gilatab table tbody span,
.golantab table tbody span,
.murakamitab table tbody span,
.overlordtab table tbody span,
.petrovtab table tbody span,
.providencetab table tbody span,
.richtertab table tbody span,
.sokolovtab table tbody span,
.wyverntab table tbody span,
.yaahltab table tbody span {
  color: #01a301;
}

.tacticaltab table tfoot,
.airalditab table tfoot,
.summittab table tfoot,
.badgertab table tfoot,
.ceskatab table tfoot,
.chinatab table tfoot,
.douglastab table tfoot,
.fenristab table tfoot,
.gilatab table tfoot,
.golantab table tfoot,
.murakamitab table tfoot,
.overlordtab table tfoot,
.petrovtab table tfoot,
.providencetab table tfoot,
.richtertab table tfoot,
.sokolovtab table tfoot,
.wyverntab table tfoot,
.yaahltab table tfoot {
  text-align: center;
  color: white;
}

.tacticaltab table tfoot td,
.airalditab table tfoot td,
.summittab table tfoot td,
.badgertab table tfoot td,
.ceskatab table tfoot td,
.chinatab table tfoot td,
.douglastab table tfoot td,
.fenristab table tfoot td,
.gilatab table tfoot td,
.golantab table tfoot td,
.murakamitab table tfoot td,
.overlordtab table tfoot td,
.petrovtab table tfoot td,
.providencetab table tfoot td,
.richtertab table tfoot td,
.sokolovtab table tfoot td,
.wyverntab table tfoot td,
.yaahltab table tfoot td {
  padding: 10px;
}

.tacticaltab table tfoot span,
.airalditab table tfoot span,
.summittab table tfoot span,
.badgertab table tfoot span,
.ceskatab table tfoot span,
.chinatab table tfoot span,
.douglastab table tfoot span,
.fenristab table tfoot span,
.gilatab table tfoot span,
.golantab table tfoot span,
.murakamitab table tfoot span,
.overlordtab table tfoot span,
.petrovtab table tfoot span,
.providencetab table tfoot span,
.richtertab table tfoot span,
.sokolovtab table tfoot span,
.wyverntab table tfoot span,
.yaahltab table tfoot span {
  color: #ffa600;
  font-weight: bold;
}

.bonnenuit,
.fluxcontinu,
.impitoyable,
.inflexible,
.liberte,
.nemesis,
.pestilence {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
  overflow: auto;
}

.bonnenuit table,
.fluxcontinu table,
.impitoyable table,
.inflexible table,
.liberte table,
.nemesis table,
.pestilence table {
  width: 6000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 10px;
}

.bonnenuit table thead,
.fluxcontinu table thead,
.impitoyable table thead,
.inflexible table thead,
.liberte table thead,
.nemesis table thead,
.pestilence table thead {
  color: #ff2600;
  font-size: 35px;
}

.bonnenuit table thead th,
.fluxcontinu table thead th,
.impitoyable table thead th,
.inflexible table thead th,
.liberte table thead th,
.nemesis table thead th,
.pestilence table thead th {
  padding-bottom: 10px;
}

.bonnenuit table tbody,
.fluxcontinu table tbody,
.impitoyable table tbody,
.inflexible table tbody,
.liberte table tbody,
.nemesis table tbody,
.pestilence table tbody {
  color: white;
  background-color: #ff2600;
}

.bonnenuit table tbody td,
.fluxcontinu table tbody td,
.impitoyable table tbody td,
.inflexible table tbody td,
.liberte table tbody td,
.nemesis table tbody td,
.pestilence table tbody td {
  padding: 10px;
}

.bonnenuit table tbody td:hover,
.fluxcontinu table tbody td:hover,
.impitoyable table tbody td:hover,
.inflexible table tbody td:hover,
.liberte table tbody td:hover,
.nemesis table tbody td:hover,
.pestilence table tbody td:hover {
  background-color: #ff593b;
}

.bonnenuit table tbody h3,
.fluxcontinu table tbody h3,
.impitoyable table tbody h3,
.inflexible table tbody h3,
.liberte table tbody h3,
.nemesis table tbody h3,
.pestilence table tbody h3 {
  color: #3f3f3f;
  text-align: center;
  margin: 0px;
  padding-bottom: 5px;
}

.bonnenuit table tbody p,
.fluxcontinu table tbody p,
.impitoyable table tbody p,
.inflexible table tbody p,
.liberte table tbody p,
.nemesis table tbody p,
.pestilence table tbody p {
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
  text-align: justify;
}

.bonnenuit table tfoot,
.fluxcontinu table tfoot,
.impitoyable table tfoot,
.inflexible table tfoot,
.liberte table tfoot,
.nemesis table tfoot,
.pestilence table tfoot {
  color: white;
}

.bonnenuit table tfoot strong,
.fluxcontinu table tfoot strong,
.impitoyable table tfoot strong,
.inflexible table tfoot strong,
.liberte table tfoot strong,
.nemesis table tfoot strong,
.pestilence table tfoot strong {
  color: #ff2600;
}

.bonnenuit table tfoot h3,
.fluxcontinu table tfoot h3,
.impitoyable table tfoot h3,
.inflexible table tfoot h3,
.liberte table tfoot h3,
.nemesis table tfoot h3,
.pestilence table tfoot h3 {
  text-align: center;
  margin: 5px;
}

.bonnenuit table tfoot td,
.fluxcontinu table tfoot td,
.impitoyable table tfoot td,
.inflexible table tfoot td,
.liberte table tfoot td,
.nemesis table tfoot td,
.pestilence table tfoot td {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.bonnenuit table tfoot span,
.fluxcontinu table tfoot span,
.impitoyable table tfoot span,
.inflexible table tfoot span,
.liberte table tfoot span,
.nemesis table tfoot span,
.pestilence table tfoot span {
  color: #01a301;
  font-weight: bold;
}

.hardwired,
.patriot,
.ongoing,
.aces,
.nego,
.spear {
  display: none;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  padding: 10px;
  margin-right: 20px;
  overflow: auto;
}

.hardwired table,
.patriot table,
.ongoing table,
.aces table,
.nego table,
.spear table {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f3f3f;
  padding: 10px;
}

.hardwired table thead,
.patriot table thead,
.ongoing table thead,
.aces table thead,
.nego table thead,
.spear table thead {
  color: #00ff88;
  font-size: 35px;
}

.hardwired table thead th,
.patriot table thead th,
.ongoing table thead th,
.aces table thead th,
.nego table thead th,
.spear table thead th {
  padding-bottom: 10px;
}

.hardwired table tbody,
.patriot table tbody,
.ongoing table tbody,
.aces table tbody,
.nego table tbody,
.spear table tbody {
  color: #3f3f3f;
  background-color: #00ff88;
}

.hardwired table tbody td,
.patriot table tbody td,
.ongoing table tbody td,
.aces table tbody td,
.nego table tbody td,
.spear table tbody td {
  padding: 10px;
}

.hardwired table tbody td:hover,
.patriot table tbody td:hover,
.ongoing table tbody td:hover,
.aces table tbody td:hover,
.nego table tbody td:hover,
.spear table tbody td:hover {
  background-color: #71ffbd;
}

.hardwired table tbody h3,
.patriot table tbody h3,
.ongoing table tbody h3,
.aces table tbody h3,
.nego table tbody h3,
.spear table tbody h3 {
  color: #3f3f3f;
  text-align: center;
  margin: 0px;
  padding-bottom: 5px;
}

.hardwired table tbody h3 strong,
.patriot table tbody h3 strong,
.ongoing table tbody h3 strong,
.aces table tbody h3 strong,
.nego table tbody h3 strong,
.spear table tbody h3 strong {
  color: #ffa600;
  text-shadow: -1px -1px 0 #3f3f3f, 1px -1px 0 #3f3f3f, -1px 1px 0 #3f3f3f, 1px 1px 0 #3f3f3f;
}

.hardwired table tbody p,
.patriot table tbody p,
.ongoing table tbody p,
.aces table tbody p,
.nego table tbody p,
.spear table tbody p {
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
}

.hardwired table tbody #twop,
.patriot table tbody #twop,
.ongoing table tbody #twop,
.aces table tbody #twop,
.nego table tbody #twop,
.spear table tbody #twop {
  text-align: justify;
}

@media all and (max-width: 480px) {
  body {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 90px 30px 1fr;
        grid-template-rows: 90px 30px 1fr;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.322))), url("../img/Mbk7Lv34i4r42qYYbmRa53.jpg");
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.322)), url("../img/Mbk7Lv34i4r42qYYbmRa53.jpg");
    background: -o-linear-gradient(rgba(255, 255, 255, 0.322)), url("../img/Mbk7Lv34i4r42qYYbmRa53.jpg");
    background: linear-gradient(rgba(255, 255, 255, 0.322)), url("../img/Mbk7Lv34i4r42qYYbmRa53.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  header {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa012), to(rgba(255, 160, 18, 0)));
    background: -webkit-linear-gradient(top, #ffa012, rgba(255, 160, 18, 0));
    background: -o-linear-gradient(top, #ffa012, rgba(255, 160, 18, 0));
    background: linear-gradient(to bottom, #ffa012, rgba(255, 160, 18, 0));
    position: fixed;
  }
  header img {
    height: 55px;
  }
  nav {
    display: -ms-grid;
    display: grid;
    padding: 0px;
    padding-top: 0px;
    height: 25px;
    width: 320px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .marques,
  nav .exo,
  nav .gear {
    font-size: 0px;
    width: 75px;
    height: 20px;
    border: 0px;
    -webkit-box-shadow: 0px 0px 3px black;
            box-shadow: 0px 0px 3px black;
  }
  nav .marques {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
    background: #ffa600;
  }
  nav .marques:hover {
    background: #ffa600;
  }
  nav .exo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
    background: #ff2600;
  }
  nav .exo:hover {
    background: #ff2600;
  }
  nav .gear {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1/3/2/4;
    background: #00ff88;
  }
  nav .gear:hover {
    background: #00ff88;
  }
  .brandlist,
  .exolist,
  .gearlist {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }
  .brandlist table,
  .exolist table,
  .gearlist table {
    width: 320px;
    height: auto;
    margin: 10px;
    padding: 0px;
  }
  .brandlist table td,
  .exolist table td,
  .gearlist table td {
    font-size: 15px;
  }
  .tacticaltab,
  .airalditab,
  .summittab,
  .badgertab,
  .ceskatab,
  .chinatab,
  .douglastab,
  .fenristab,
  .gilatab,
  .golantab,
  .murakamitab,
  .overlordtab,
  .petrovtab,
  .providencetab,
  .richtertab,
  .sokolovtab,
  .wyverntab,
  .yaahltab {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }
  .tacticaltab table,
  .airalditab table,
  .summittab table,
  .badgertab table,
  .ceskatab table,
  .chinatab table,
  .douglastab table,
  .fenristab table,
  .gilatab table,
  .golantab table,
  .murakamitab table,
  .overlordtab table,
  .petrovtab table,
  .providencetab table,
  .richtertab table,
  .sokolovtab table,
  .wyverntab table,
  .yaahltab table {
    width: 320px;
    height: auto;
    margin: 10px;
    padding: 0px;
  }
  .bonnenuit,
  .fluxcontinu,
  .impitoyable {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }
  .bonnenuit table,
  .fluxcontinu table,
  .impitoyable table {
    width: 320px;
    height: auto;
    margin: 10px;
    padding: 0px;
  }
  .bonnenuit table th,
  .fluxcontinu table th,
  .impitoyable table th {
    font-size: 30px;
  }
}
